.reviews {
    margin-top: 75px;
}

.reviews__wrapper {
    margin-top: 37px;
}

.reviews__list {
    list-style: none;
}

.reviews__img {
    border: 20px solid #222;
    display: block;
    width: 100%;
}

.reviews__description {
    text-align: center;
    margin-top: 12px;
}

.tns-nav {
    display: none;
}